<!DOCTYPE html>
<html>
  <head>
    <title>RealtimeSearchbox</title>
    <%= stylesheet_link_tag "app.css" %>
    <%= javascript_include_tag "vendor.js" %>
    <%= javascript_include_tag "app.js" %>
    <%= stylesheet_link_tag  'application' %>
    <%= breakfast_autoreload_tag %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
